@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed";
}

button {
  border: none;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

nav {
  display: flex;
  justify-content: flex-end;
  background-color: #428bff;
}
nav li {
  display: inline-block;
  background-color: #3c7de6;
  padding: 10px 15px;
}
nav li:hover {
  background-color: #27549b;
}
nav .button {
  color: black;
  background-color: #3c7de6;
}
nav .button:hover {
  background-color: #27549b;
}

li {
  display: inline;
}

.home-menu {
  display: flex;
  padding: 0 50px;
  border-bottom: 1px solid #ddd;
}
.home-menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
}
.home-menu li:hover,
.home-menu .active {
  cursor: pointer;
  border-bottom: 2px solid #428bff;
  color: #428bff;
}

.delete {
  background-color: #f36868;
  padding: 1px;
  display: inline-block;
}

.delete:hover {
  background-color: #d45959;
  cursor: pointer;
}

.button {
  background-color: #428bff;
  color: white;
  display: inline-block;
}

.button:hover {
  cursor: pointer;
  background-color: #3c7de6;
}

.landing-page {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #428bff;
  height: 98vh;
  justify-content: center;
  align-items: center;
}
.landing-page .logo {
  font-size: 3em;
}

.content-container {
  padding: 0 50px 10px 50px;
}

.content {
  padding: 20px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.tournament-card-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-top: 10px;
  height: auto;
}

.tournament-card {
  background-color: #f3f3f3;
  padding: 10px;
  border: 1px solid #ddd;
  min-height: 150px;
  min-width: 200px;
  position: relative;
}
.tournament-card .delete {
  position: absolute;
  bottom: 1px;
  right: 1px;
}

.tournament-card:hover {
  cursor: pointer;
  background-color: #e7e7e7;
}

.invite-card {
  display: grid;
  grid-template-columns: 12fr 1fr 1fr;
  border: 1px solid #ddd;
  padding-left: 5px;
  background-color: #f3f3f3;
  justify-content: center;
  align-items: center;
}
.invite-card .button,
.invite-card .delete {
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  color: black;
}

.invite-card:hover {
  cursor: pointer;
  background-color: #e7e7e7;
}

.form {
  background-color: #f3f3f3;
  padding: 40px;
  display: flex;
  flex-direction: column;
  border: none;
}
.form * {
  margin-bottom: 10px;
  border: none;
}

.form-container {
  padding: 200px 450px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.637);
  height: 110%;
}
.form-container .delete {
  justify-self: flex-end;
  max-width: 12%;
}

.error {
  background-color: #ff4242;
}

.container {
  padding: 10% 30%;
}

.tournament-frame {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  min-height: 100vh;
}
.tournament-frame .content {
  border: none;
}

.banner {
  height: 30vh;
  background-color: #f1f1f1;
}

.tournament-info {
  display: grid;
  padding: 2%;
  background-color: #292e38;
  color: white;
  grid-template-columns: 9fr 1fr;
}
.tournament-info .button {
  padding: 3px;
  height: 25%;
  color: black;
  width: 110px;
}

.tournament-details {
  padding: 2%;
}

.new-invite input {
  margin: 5px 10px;
  height: 30px;
  font-size: 1.2em;
}
.new-invite .button {
  padding: 5px 10px;
}
.new-invite label {
  font-size: 1.2em;
}
.new-invite button {
  font-size: 1.1em;
}

.player-card-container {
  display: grid;
  grid-template-columns: 12fr 1fr;
}
.player-card-container .delete {
  display: grid;
  justify-content: center;
  border: 1px solid #ccc;
}

.player-card {
  border: 1px solid #f3f3f3;
  padding: 3px;
}

.player-card:hover {
  background-color: #e7e7e7;
}

/*# sourceMappingURL=App.css.map */
