$primary-color: #428bff;
$secondary-color: #3c7de6;
$terciary-color: #27549b;
$text-color: white;
$error: #ff4242;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");

// GENERAL RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed";
}

button {
  border: none;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

// NAVIGATION

nav {
  display: flex;
  justify-content: flex-end;
  background-color: $primary-color;
  li {
    display: inline-block;
    background-color: $secondary-color;
    padding: 10px 15px;
  }
  li:hover {
    background-color: $terciary-color;
  }
  .button {
    color: black;
    background-color: $secondary-color;
  }
  .button:hover {
    background-color: $terciary-color;
  }
}

li {
  display: inline;
}

// MENUS
.home-menu {
  display: flex;
  padding: 0 50px;
  border-bottom: 1px solid #ddd;
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
  }
  li:hover,
  .active {
    cursor: pointer;
    border-bottom: 2px solid $primary-color;
    color: $primary-color;
  }
}

// GENERAL CLASSES
.delete {
  background-color: rgb(243, 104, 104);
  padding: 1px;
  display: inline-block;
}
.delete:hover {
  background-color: rgb(212, 89, 89);
  cursor: pointer;
}

.button {
  background-color: $primary-color;
  color: $text-color;
  display: inline-block;
}

.button:hover {
  cursor: pointer;
  background-color: $secondary-color;
}

// PROFILE FRAME

// LANDING PAGE
.landing-page {
  display: flex;
  flex-direction: column;
  color: $text-color;
  background-color: $primary-color;
  height: 98vh;
  justify-content: center;
  align-items: center;

  .logo {
    font-size: 3em;
  }
}

// CONTENT CONTAINER

.content-container {
  padding: 0 50px 10px 50px;
  max-height: 90vh;
  overflow: hidden;
}

.content {
  padding: 20px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

// TOURNAMENT CARD AND CONTAINER

.tournament-card-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-top: 10px;
  height: auto;
}

.tournament-card {
  background-color: #f3f3f3;
  padding: 10px;
  border: 1px solid #ddd;
  min-height: 150px;
  min-width: 200px;
  position: relative;
  .delete {
    position: absolute;
    bottom: 1px;
    right: 1px;
  }
}

.tournament-card:hover {
  cursor: pointer;
  background-color: rgb(231, 231, 231);
}

// INVITE CARD
.invite-card {
  display: grid;
  grid-template-columns: 12fr 1fr 1fr;
  border: 1px solid #ddd;
  padding-left: 5px;
  background-color: #f3f3f3;
  justify-content: center;
  align-items: center;
  .button,
  .delete {
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: black;
  }
}

.invite-card:hover {
  cursor: pointer;
  background-color: rgb(231, 231, 231);
}

// FORM CONTAINER

.form {
  background-color: #f3f3f3;
  padding: 40px;
  display: flex;
  flex-direction: column;
  border: none;
  * {
    margin-bottom: 10px;
    border: none;
  }
}

.form-container {
  padding: 200px 450px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.637);
  height: 110%;
  .delete {
    justify-self: flex-end;
    max-width: 12%;
  }
}

.error {
  background-color: $error;
}

.container {
  padding: 10% 30%;
}

// TOURNAMENT DETAILS
.tournament-frame {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  min-height: 100vh;
  .content {
    border: none;
  }
}
.banner {
  height: 30vh;
  background-color: #f1f1f1;
}

.tournament-info {
  display: grid;
  padding: 2%;
  background-color: #292e38;
  color: $text-color;
  grid-template-columns: 9fr 1fr;

  .button {
    padding: 3px;
    height: 25%;
    color: black;
    width: 110px;
  }
}

.tournament-details {
  padding: 2%;
}

// NEW INVITE
.new-invite {
  input {
    margin: 5px 10px;
    height: 30px;
    font-size: 1.2em;
  }
  .button {
    padding: 5px 10px;
  }
  label {
    font-size: 1.2em;
  }
  button {
    font-size: 1.1em;
  }
}

// PLAYER CARD
.player-card-container {
  display: grid;
  grid-template-columns: 12fr 1fr;
  .delete {
    display: grid;
    justify-content: center;
    border: 1px solid #ccc;
  }
}

.player-card {
  border: 1px solid #f3f3f3;
  padding: 3px;
}

.player-card:hover {
  background-color: rgb(231, 231, 231);
}

// REPORT MATCH
.report-card {
  display: grid;
}
